{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/aboutuspg1.css' %}" />
    <title>Urban Agriculture | About Us | {{ title }}</title>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="intro-div">
        <section class="sec">
            <div class="div-one">
                <p class="heading">Way2Agribusiness India Pvt. Ltd. (Way2ABI)</p>
                <p class="heading">ವೇ2ಅಗ್ರಿಬಿಸ್ನೆಸ್ ಇಂಡಿಯಾ ಪ್ರೈವೇಟ್ ಲಿಮಿಟೆಡ್</p>
            </div>
            <br>
            <div class="div-two">
                <div class="div-two-1">
                  <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696588471/Static%20Images/logo_fiiga6_xu0fm6.webp" alt="Way2Agribusiness Brand Logo" class="div-two-img" loading="lazy"/>
                </div>
                <div class="div-two-desc">
                  <p id="long-text">
                    Way2Agribusiness India Pvt. Ltd. is a social enterprise, established in March 2014, with a core mission to facilitate the transformation of agriculture into agribusiness. Our primary objective is to serve as a comprehensive one-stop solution provider for farmers and agribusiness enterprises, dedicated to enhancing their competitiveness by offering enabling products and services. In pursuit of this mission, we have introduced, a) product-based initiatives: Way2Agritech and Way2Foods, our registered brands, cater to the supply of agricultural inputs & outputs, respectively, & b) service initiatives: Way2Agriintel AI, Way2AgriPro, and Way2Agribiz PMC.
                  </p>
                </div>
            </div>
        </section>
        <br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Our Vision & Mission</h3>
            </div>
            <br>
            <div class="vision-mission-div">
                <div class="vision-container">
                    <div class="vision-div">
                        <h4><i class="material-icons">remove_red_eye</i>Our Vision</h4>
                    </div>
                    <div class="vision-desc">
                        <p>One-stop solution for farmers & agribusiness enterprises, offering comprehensive services</p>
                    </div>
                </div>
                <div class="mission-container">
                    <div class="vision-div">
                        <h4><i class="material-icons">explore</i>Our Mission</h4>
                    </div>
                    <div class="vision-desc">
                        <p>Enhancing the business competitiveness of participants in agri & allied sectors mainly farmers & agri-entrepreneurs through our enabling products & services</p>
                    </div>
                </div>
            </div>
            <div class="objective-diff-div">
                <div class="objective-container">
                    <div class="vision-div">
                        <h4><i class="material-icons">flag</i>Our Objectives</h4>
                    </div>
                    <div class="vision-desc">
                        <ul>
                            <li>Provide research based consultancy services & contemporary solutions to the clients in agribusiness sector</li>
                            <li>Seamless agribusiness project implementation and management</li>
                            <li>Undertake trading operations of selected agri outputs & inputs incl. implements & machineries</li>
                        </ul>
                    </div>
                </div>
                <div class="differentiator-container">
                    <div class="vision-div">
                        <h4><i class="material-icons">trending_up</i>Our Differentiators</h4>
                    </div>
                    <div class="vision-desc">
                        <ul style="list-style-type: disc;">
                            <li>Five integrated solutions to 5 stakeholders</li>
                            <li>Brands “Way2Agritech” & “Way2Foods”</li>
                            <li>Solid online presence – Over 14 services</li>
                            <li>Strong network & presence at APMC Yard</li>
                            <li>Impactful & scalable products & services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Five for Five</h3>
            </div>
            <br>
            <div class="section-two-div3">
                <div class="section-two-img-div">
                    <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1717411774/Static%20Images/5_for_5_square_pr9adk.png" alt="Five for Five Logo" class="section-two-div3-img" laoding="lazy"/>
                    <a class="download-btn" href="javascript:void(0)" download target="_blank" rel="noopener"><i class="fa fa-download"></i>Download</a>
                </div>
                <div class="section-two-desc-div">
                    <ul class="section-two-div2-desc-container">
                        <li class="section-two-div2-desc">
                            How to transform agriculture into agribusiness? What are the
                            professional services which will evolve in this transformation
                            process? And how best a start-up can engage and contribute in a niche
                            manner to assist this transformation process? These were thought
                            provoking questions faced by the founder of Way2Agribusiness India Pvt
                            Ltd. With the past experience as a agribusiness scholar, farmer,
                            agribusiness analyst, working at different capacities at agribusiness
                            entities and Knowledge Partner to the Govt. of Karnataka initiative,
                            Dr. Prasanna Dyavegowda (Director & CEO, Way2ABI), who holds doctoral
                            degree in Agribusiness Management, working to assist transform of
                            agriculture into agribusiness in a niche manner through Way2ABI
                            products & services.
                        </li>
                        <li class="section-two-div2-desc">
                        The idea behind "Five for Five" is to provide a niche contribution to
                        the transformation of agriculture into agribusiness. Way2Agribusiness
                        India Pvt Ltd's innovation can be considered a combination of product,
                        service, and business model innovation in the agribusiness sector.
                        With the aim of assisting in this transformation process, the start-up
                        offers innovative products and services to stakeholders in the
                        agribusiness sector.
                        </li>
                        <li class="sh-box">
                            <h4 style="color: blue">ಬಳಕೆದಾರರು Stakeholders</h4>
                            <ul>
                              <div class="stakeholder">
                                <li><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715409133/Static%20Images/Farmers_assc_y6tphy.webp" alt="Farmers & Farmers’ Association" loading="lazy"/><p>Farmers & Farmers’ Association</p></li>
                                <li><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715409132/Static%20Images/Startup_students_ytyatu.webp" alt="Agri Start-ups and Students" loading="lazy"/><p>Agri Start-ups and Students</p></li>
                                <li><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715409132/Static%20Images/Trading_comm_prcdsh.webp" alt="Entrepreneurs & Trading Community" loading="lazy"/><p>Entrepreneurs & Trading Community</p></li>
                              </div>
                              <div class="stakeholder1">
                                <li><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715409132/Static%20Images/Govt._dept_agencies_imf7ab.webp" alt="Government Depts. & Agencies" loading="lazy"/><p>Government Depts. & Agencies</p> </li>
                                <li><img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1715409132/Static%20Images/Agtech_product_Manufacturers_mtro6o.webp" alt="Agritech Products Manufacturers" loading="lazy"/><p>Agritech Products Manufacturers</p> </li>
                              </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
        <br>
    	<section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Our Brands</h3>
            </div>
        	<br>
            <div class="section-two-div4">
                <p id="long-text">
                    Way2Agribusiness India Pvt. Ltd., deal in both agri inputs and agri output
                    for the benefit of farmers and consumers. Agri inputs being handled under
                    the brand “Way2Agritech” which covers agri inputs, implements and
                    machineries those are used by the farmers in their crop cultivation
                    operations. Agri output being handled under the brand “Way2Foods” which
                    covers those are grown and supplied by the farmers and they will be
                    looking for market creation for the same.
                </p>
            </div>
            <div class="section-two-div6">
                <div class="section-two-div2-container2">
                    <h5>Way2Agritech</h5>
                    <div class="service-img-container">
                        <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1697612139/Static%20Images/way2at-removebg-preview_LqDJ7F9_bqmvqw_ciq9nn_1_1_bcu6vk.webp" alt="Way2Agritech Brand Logo" class="section-two-div2-img3"/>
                    </div>
                    <br>
                    <ul class="section-two-div2-desc2">
                        <li>Agri inputs, implements & machineries ಅಗ್ರಿ ಇನ್ಪುಟ್ಗಳು & ಯಂತ್ರೋಪಕರಣ</li><br>
                        <li>Flagship - Dr Soil Health & Honda Power ಡಾ. ಸಾಯಿಲ್ ಹೆಲ್ತ್ & ಹೋಂಡಾ</li><br>
                        <li>Distribution from APMC Yeshwanthpur ಎಪಿಎಂಸಿ ಯಶವಂತಪುರದಿಂದ ವಿತರಣೆ</li><br>
                        <li>Online presence with websites & AI ವೆಬ್ಸೈಟ್ಗಳು & AI ನೊಂದಿಗೆ ಆನ್ಲೈನ್</li><br>
                        <li>Agri Clinic operations for farmers ರೈತರಿಗಾಗಿ ಅಗ್ರಿ ಕ್ಲಿನಿಕ್ ಕಾರ್ಯಾಚರಣೆಗಳು</li><br>
                    </ul>
                    <a class="download-btn" href="javascript:void(0)" download style="text-decoration:none;"><i class="fa fa-download"></i>Download</a>
                    <br>
                </div>
                <div class="section-two-div2-container2">
                    <h5>Way2Foods</h5>
                    <div class="service-img-container">
                        <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696576692/Static%20Images/W2F_gnw3ch_jvntof.webp" alt="Way2Foods Brand logo" class="section-two-div2-img3"/>
                    </div>
                    <br>
                    <ul class="section-two-div2-desc2">
                        <li>Supply of selected vegetables & groceries ಆಯ್ದ ತರಕಾರಿಗಳು & ದಿನಸಿಗಳ ಪೂರೈಕೆ</li><br>
                        <li>Different sales channels to reach customers ವಿಭಿನ್ನ ಮಾರಾಟದ ಚಾನಲ್‌ಗಳು</li><br>
                        <li>Indent based supply practices ಇಂಡೆಂಟ್ ಆಧಾರಿತ ಪೂರೈಕೆ ಅಭ್ಯಾಸಗಳು</li><br>
                        <li>Price circular support on crops to purchase ಬೆಳೆ ಖರೀದಿಸಲು ಬೆಲೆ ಸುತ್ತೋಲೆ ಬೆಂಬಲ</li><br>
                        <li>Combination of offline & online activities ಆಫ್ಲೈನ್ & ಆನ್‌ಲೈನ್ ಚಟುವಟಿಕೆ ಸಂಯೋಜನೆ</li><br>
                    </ul>
                    <a class="download-btn" href="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696050496/Static%20Images/brochures/Way2Foods_tntqcj.pdf" download style="text-decoration:none;"><i class="fa fa-download"></i>Download</a>
                    <br>
                </div>
            </div>
        </section>
    	<br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Services We Offer</h3>
            </div>
            <br>
            <div class="section-two-div2">
                <div class="section-two-div2-container2">
                	<h5>Way2AgriIntel AI</h5>
                    <div class="service-img-container">
                        <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714453420/Static%20Images/AgriIntelAI_h5d9bp.webp" alt="Way2AgriIntel AI Logo | AgriClinic | NutriTracker | CropIntel | AgMachineX | Agri FBI" class="section-two-div2-img3" loading="lazy"/>
                    </div>
                	<br>
                    <ul class="section-two-div2-desc2">
                        <li>CropIntel - Perennial crop selection ದೀರ್ಘಕಾಲಿಕ ಬೆಳೆ ಆಯ್ಕೆ</li><br>
                        <li>AgMachineX - Technology based agri ತಂತ್ರಜ್ಞಾನ ಆಧಾರಿತ ಕೃಷಿ</li><br>
                        <li>Agri FBI - Mkt. insights & price outlook ಮಾರುಕಟ್ಟೆ & ಬೆಲೆ ಒಳನೋಟ</li><br>
                        <li>Agri Clinic - Plant nutrients & protection ಸಸ್ಯ ಪೋಷಕಾಂಶಗಳು & ರಕ್ಷಣೆ</li><br>
                        <li>NutriTracker - Tracking & Scheduling ಟ್ರ್ಯಾಕಿಂಗ್ & ವೇಳಾಪಟ್ಟಿ</li><br>
                        <h3>Agribusiness Intelligence</h3><br>
                        <li>Plan, plant & prosper - CropIntel & Way2ABI Agri FBI</li><br>
                        <li>Effortless operations - AgMachineX and NutriTracker</li><br>
                        <li>Be secure and maximize returns – Agri Clinic</li><br>
                    </ul>
                    <br><br><br><br><br>
                    <a class="download-btn" href="javascript:void(0)" download style="text-decoration:none;" target="_blank" rel="noopener"><i class="fa fa-download"></i>Download</a>
                	<br>
                </div>
                <div class="section-two-div2-container2">
               		<h5>Way2AgriPro</h5>
                    <div class="service-img-container">
                        <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1717410328/Static%20Images/Way2AgriPro_gg4cit.webp" alt="Way2AgriPro Logo" loading="lazy" class="section-two-div2-img3"/>
                    </div>
                	<br>
                    <ul class="section-two-div2-desc2">
                        <li>Agribiz students enrichment ಕೃಷಿಉದ್ದಿಮೆ ವಿದ್ಯಾರ್ಥಿಗಳ ಬಲಪಡಿಸುವುದು</li><br>
                        <li>Professional development programmes ವೃತ್ತಿಪರ ಅಭಿವೃದ್ಧಿ ಕಾರ್ಯಕ್ರಮಗಳು</li><br>
                        <li>Start-ups empowerment initiatives ಸ್ಟಾರ್ಟ್-ಅಪ್ ಗಳ ಸಬಲೀಕರಣ ಕ್ರಮಗಳು</li><br>
                        <li>Sustainable farming practices promotion ಸುಸ್ಥಿರ ಕೃಷಿ ಪದ್ಧತಿಗಳ ಪ್ರಚಾರ</li><br>
                        <li>Assist to achieve agribusiness excellence ಕೃಷಿಉದ್ದಿಮೆ ಶ್ರೇಷ್ಠತೆಗೆ ಸಹಾಯ</li><br>
                        <h3>Agribusiness Journey- Right skillset</h3><br>
                        <li>Tailored for students, professionals, enterprising farmers & start-ups</li><br>
                        <li>Soft skills through training sessions on online, literature & Agri tour</li><br>
                        <li>Stay updated on the latest trends and best practices in agribusiness</li><br>
                        <li>Apply the acquired knowledge and skills in real-world agribusiness</li><br>
                    </ul>
                    <br>
                    <a class="download-btn" href="javascript:void(0)" download style="text-decoration:none;" target="_blank" rel="noopener"><i class="fa fa-download"></i>Download</a>
                	<br>
            	</div>
                <div class="section-two-div2-container2">
                	<h5>Way2Agribiz PMC</h5>
                    <div class="service-img-container">
                        <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1717410328/Static%20Images/PMC_sr6tlm.webp" alt="Way2Agribiz PMC Services" loading="lazy" class="section-two-div2-img3"/>
                    </div>
                	<br>
                    <ul class="section-two-div2-desc2">
                        <li>Project planning including DPR DPR ಸೇರಿದಂತೆ ಯೋಜನೆ</li><br>
                        <li>Govt. approval & clearance ಸರ್ಕಾರ ಅನುಮೋದನೆ & ತೆರವು</li><br>
                        <li>Project commissioning ಯೋಜನೆಯ ಕಾರ್ಯಾರಂಭ</li><br>
                        <li>Operations mgt. & retainer services ಕಾರ್ಯಾಚರಣೆ ನಿರ್ವಹಣೆ</li><br>
                        <li>Market penetration strategy & services ಮಾರುಕಟ್ಟೆ ನುಗ್ಗುವ ತಂತ್ರ</li><br>
                        <h3>Agribusiness Projects</h3><br>
                        <li>Identification of lucrative project opportunities</li><br>
                        <li>Roadmap from concept till commissioning & handholding</li><br>
                        <li>Enjoy custom-tailored agri project services</li><br>
                    </ul>
                    <br><br><br><br><br>
                    <a class="download-btn" href="javascript:void(0)" download style="text-decoration:none;" target="_blank" rel="noopener"><i class="fa fa-download"></i>Download</a>
                	<br>
            	</div>
            </div>
        </section>
        <br>
        <section class="section-two">
            <div class="section-two-div1">
              <h3 class="section-two-div1-heading">Our Mobile Apps</h3>
            </div>
            <section class="section-two-div5">
                <div class="mob_wrap">
                    <div class="mob_wrap1">
                        <div class="mob_wrap2">
                            <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696587180/Static%20Images/FBI_zcy9hMp_w8o803_udc6bk.webp" alt="Way2ABI Agri FBI Mobile App Logo" loading="lazy"/>
                        </div>
                        <div class="mob_wrap_desc">
                            <div class="feature-div"><strong>Features</strong></div>
                            <ul>
                                <li>Content and the Report Periodicity</li>
                                <li>Coverage on all Key Markets</li>
                                <li>Add-On Services for Better Understanding</li>
                                <li>Price Outlook and the Market Insights</li>
                                <li>Agri FBI – Market Planner</li>
                                <li>Process to Follow by App Users</li>
                                <button class="download-btn4">
                            		<i class="fab fa-google-play"></i><a href="https://play.google.com/store/apps/details?id=com.way2abi.way2abi" data-text="Download Agri FBI" target="_blank" rel="noopener"><span class="small-text">Available on the <br><span class="larger-text">Google Play</span></span></a>
								</button>
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="mob_wrap">
                    <div class="mob_wrap1">
                        <div class="mob_wrap3">
                            <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696587264/Static%20Images/CM_w0gnaz_g5tpzf.webp" alt="Way2Market Agri CM Mobile App Logo"/>
                        </div>
                        <div class="mob_wrap_desc">
                        	<div class="feature-div"><strong>Features</strong></div>
                            <ul>
                                <li>Agri-Trade: Notification, Bidding & Rating</li>
                                <li>Extensive Coverage of Karnataka's Major Crop Clusters & Markets</li>
                                <li>Large database of sellers & buyers, nationwide</li>
                                <li>Expert Advisory Services and Value-Added Agri-Tech Solutions</li>
                                <li>Commodities Price Outlook and Market Insights</li>
                            	<button class="download-btn4">
                                   	<i class="fab fa-google-play"></i><a
                                    href="https://play.google.com/store/apps/details?id=com.ionicframework.way2market617518&hl=en"
                                    data-text="Download Agri FBI" target="_blank" rel="noopener"><span class="small-text">Available on the <br><span class="larger-text">Google Play</span></span></a>
								</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    	<br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Our Online Services</h3>
            </div>
            <div class="wrap">
                <div class="wrap1">
                    <ul style="position: relative;">
                        <li class="services_main">
                            <img
                                class="container1"
                                src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696588558/Static%20Images/services_i0cx2j_dnrgay.webp"
                                alt="Online Services Logo" loading="lazy"
                            />
                        </li>
                        <li>
                            <a href="https://www.way2agribusiness.com/" title="Way2Agribusiness" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1708673335/Static%20Images/2_bac7no_svndlr.webp" alt="Way2Agribusiness Logo" loading="lazy" class="agri-img"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.way2agriintel.com/" title="Way2AgriIntel" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714453420/Static%20Images/AgriIntelAI_h5d9bp.webp" alt="Way2AgriIntel Logo" class="f4f-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.way2agritech.com/" title="Way2Agritech" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1697612139/Static%20Images/way2at-removebg-preview_LqDJ7F9_bqmvqw_ciq9nn_1_1_bcu6vk.webp" alt="Way2Agritech Logo" class="agritech-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.way2foods.in/" title="Way2Foods" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696576692/Static%20Images/W2F_gnw3ch_jvntof.webp" alt="Way2Foods Logo" class="foods-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.way2smartfarmer.com/" title="Way2SmartFarmer" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696588713/Static%20Images/Smartfarmer_ax08yy_pnhcwj.webp" alt="Way2SmartFarmer Logo" class="smartfarmer-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.powertiller.in/" title="Power Tiller" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714453424/Static%20Images/AgMachineX_tqiwie.webp" alt="PowerTiller Logo" class="pt-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.drsoilhealth.com/" title="Dr Soil Health" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1714453417/Static%20Images/AgriClinic_p3hvlf.webp" alt="DrSoilHealth Logo" class="dsh-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.farmneedz.com/" title="FarmNeedz" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696589138/Static%20Images/Farmneedz_phnlv3_imrpmg.webp" alt="FarmNeedz Logo" class="fn-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.way2vegetables.com/" title="Way2Vegetables" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1711787630/Static%20Images/W2V-modified_u7yk62.webp" alt="Way2Vegetables Logo" class="veg-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.urbanagriculture.in/" title="UrbanAgriculture" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1711439508/Static%20Images/UA-WebP_nuwf3x.webp" alt="UrbanAgriculture Logo" class="uab-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.karnataagribusiness.com/" title="KarnatakaAgribusiness" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1711696221/Static%20Images/KAB_hhj1fe.webp" alt="KarnatakaAgribusiness Logo" class="kab-img" loading="lazy"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.way2abi.way2abi&pli=1" title="Way2ABI Agri FBI" target="_blank" rel="noopener">
                                <img src="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696587180/Static%20Images/FBI_zcy9hMp_w8o803_udc6bk.webp" alt="Way2ABI Agri FBI Mobile App" class="fbi-img" loading="lazy"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wrap2">
                    <ul>
                        <h5>Service Brief</h5><br>
                        <li>Digital agribusiness nexus ಡಿಜಿಟಲ್ ಕೃಷಿಉದ್ದಿಮೆ ಕೊಂಡಿ</li><br>
                        <li>Agritech advancements & Intel ಅಗ್ರಿಟೆಕ್ ಪ್ರಗತಿಗಳು & ಇಂಟೆಲ್</li><br>
                        <li>Seamless farming solutions ತಡೆರಹಿತ ಕೃಷಿ ಪರಿಹಾರಗಳು</li><br>
                        <li>From farm to plate precision ತೋಟದಿಂದ ತಟ್ಟೆ ನಿಖರತೆಗೆ</li><br>
                        <li>Empowering sustainable agri ಸುಸ್ಥಿರ ಕೃಷಿ ಸಶಕ್ತಗೊಳಿಸುವುದು</li><br>
                    </ul>
                    <ul>
                        <h5>Online - Maximize reach & minimize costs ರೀಚ್ ಹೆಚ್ಚಳ, ಕಡಿಮೆ ವೆಚ್ಚ</h5><br>
                        <li>Corporate and social presence – www.way2agribusiness.com</li><br>
                        <li>Brand hub – www.way2agritech.com & www.way2foods.in</li><br>
                        <li>E-Commerce – www.way2smartfarmer.com & www.powertiller.in</li><br>
                        <li>Products specific websites – www.drsoilhealth.com</li><br>
                    </ul>
            	</div>
        	</div>
        </section> 
        <br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Our Credentials</h3>
            </div>
            <br>
            <div class="credentials">
                {% for group in grouped_images %}
                    <div class="topic_div">
                        <h3>{{ group.type_of_image }}</h3>
                    </div>
                    <br>
                    <div class="cred_images">
                        {% for image in group.images %}
                            <div class="image-wrapper">
                                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="photos" onclick="displayFullImage('{{ image.image.url }}', '{{ image.title }}')" loading="lazy">
                                <span class="image-title ">{{ image.title }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
                <div class="overlay" onclick="hideFullImage()">
                    <div class="full-image-container">
                        <img src="" alt="Full Image" class="full-image" onclick="toggleZoom(event)" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Way2ABI Videos</h3>
            </div> 
            <div class="video_main">
                <video
                    tabindex="-1"
                    role="application"
                    data-setup='{"fluid": true}'
                    playsinline="playsinline"
                    poster="https://dhi-ai.com/wp-content/uploads/2022/11/dhi-home.jpg"
                    muted
                    autoplay
                    preload="auto"
                    class="vjs-tech"
                    id="videojs6447b3753e123_html5_api"
                    src="https://res.cloudinary.com/dm71xhdxd/video/upload/v1696589394/videos/main_1_dleps5.mp4" loading="lazy" title="Way2ABI Services Video"
                >
                    <source src="https://res.cloudinary.com/dm71xhdxd/video/upload/v1696589394/videos/main_1_dleps5.mp4" type="video/mp4" loading="lazy" target="_blank" rel="noopener"/>
                </video>
                <p id="long-text">
                    Way2ABI is a comprehensive solution for the problems faced by
                    agribusiness operations. They offer project services, providing support
                    from idea generation to implementation. Their Agri FBI system offers
                    market information and intelligence to enable informed decision-making.
                    Way2Market Agri CM is a unique trading platform that connects farmers,
                    traders, processors, exporters, and input suppliers. Way2Agritech
                    addresses labour issues through technology-based agriculture, and
                    Way2Foods creates markets for farmers' produce. Way2ABI's Knowledge
                    Centre and Agri Clinic are crucial knowledge transformation activities
                    that benefit all agribusiness participants, including farmers.
                </p>
            </div>
        </section>
        <br>
        <section class="section-two">
            <div class="section-two-div1">
                <h3 class="section-two-div1-heading">Collaboration</h3>
            </div> 
            <br>
            <article class="wrappero">
                <div class="marquee">
                    <div class="marquee_div">
                        {% for i in brands %}
                            <img src="{{ i.image.url }}" alt="{{ i.alt }}" loading="lazy"/>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </section>
        <br>
    </div>
  <script>
  		if (window.innerWidth <= 768) {
      			const introDivs = document.querySelectorAll('#long-text');
      			introDivs.forEach(introDiv => {
        			const actualContent = introDiv.textContent.trim();
        			const wordsArray = actualContent.split(/\s+/);
        			const displayWords = wordsArray.slice(0, 40).join(' ') + ' . . .';
        			const actualHeight = window.getComputedStyle(introDiv).height;
        			const trimmedHeight = '250px';
        			introDiv.style.overflowY = 'hidden';
        			introDiv.style.height = trimmedHeight;
        			introDiv.textContent = displayWords;
                	introDiv.style.textAlign = 'justify';
        			const readMore = document.createElement('a');
        			readMore.innerHTML = 'Read More >>';
        			readMore.style.color = 'darkblue';
        			readMore.style.textDecoration = 'underline';
        			introDiv.appendChild(readMore);
        			readMore.addEventListener('click', function () {
          			if (readMore.innerHTML.substr(0,readMore.innerHTML.length-9) === 'Read More') {
            			introDiv.textContent = actualContent+' '+' . . .'+' '+ ' ';
            			introDiv.style.height = actualHeight;
            			readMore.innerHTML = 'Read Less <<';
          			} else {
            			introDiv.textContent = displayWords;
            			introDiv.style.height = trimmedHeight;
            			readMore.innerHTML = 'Read More >>';
          			}
          			introDiv.appendChild(readMore); 
        		});
      		});
    	}
    function displayFullImage(imgSrc, imgTitle) {
      var fullImage = document.querySelector('.full-image');
      fullImage.src = imgSrc;
      fullImage.alt = imgTitle;
  
      var overlay = document.querySelector('.overlay');
      var fullImageContainer = document.querySelector('.full-image-container');
  
      overlay.style.display = 'block';
      fullImageContainer.style.display = 'block';
    }
  
    function hideFullImage() {
      var overlay = document.querySelector('.overlay');
      var fullImageContainer = document.querySelector('.full-image-container');
  
      overlay.style.display = 'none';
      fullImageContainer.style.display = 'none';
    }
  
    function toggleZoom(event) {
      event.stopPropagation();
      var fullImage = event.target;
      if (fullImage.style.cursor === 'zoom-out') {
        fullImage.style.cursor = 'zoom-in';
        fullImage.style.transform = 'scale(2.2)';
      } else {
        fullImage.style.cursor = 'zoom-out';
        fullImage.style.transform = 'none';
      }
    }
  </script>
{% endblock %}