<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dm71xhdxd/image/upload/v1696047219/pt/way2at-removebg-preview_teCSdtD_ol5hld_udfp8v.png"/>
    <title>UrbanAgriculture | External Links</title>
</head>
<body>
    <div id="backlinks">
        {% for links in links_list %} 
            {% for link in links %}
                <a href="{{ link }}" rel="noopener" target="_blank">{{ link }}</a><br>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>