{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/aboutuspg1.css' %}" />
	<link rel="stylesheet" href="{% static 'css/detailspg2.css' %}" />
    <title>Urban Agriculture | Terrace Gardening Product Categories</title>
	<style>
     .fchange{
     	margin-left:0%;
     }
	</style>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div>
      <div class="tproduct">
        <div class="url">
          <button onclick="goBack()" id="backbtn">Back</button>
        </div>
      </div>
      <h3 class="hedding">Terrace Gardening Product Categories</h3>
      <div class="hpmain1">
        {% for product in products %}
        <div class="hpcard1">
          <a
            href="{% url 'appagri:product_page' product.name %}"
          >
            <div>
              <img src="{{ product.image.url }}" alt="{{ product.alt }}" />
            </div>
            <strong>{{ product.name }}</strong>
            <p class="spviewmore" style="margin-left: 10px">View More</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}