.pwrap {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  /* margin: 0px 10%; */
}
.fchange {
  margin-left: 0%;
}
.inbody {
  display: grid;
  margin-left: 20%;
}
.containerone {
  margin: 1% 5%;
  display: flex;
}
#sidebarview {
  display: none;
}
.psidebar {
  width: 19%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0px 10px;
  position: fixed;
}
.psidebar h3 {
  text-align: center;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #003607, #fbec20);
  border: 0 solid;
  overflow: hidden;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}
.containerone div img {
  width: 415px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 10px;
  border-radius: 10px;
  max-width: none;
}
.pdis {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 10px;
}
.subpcard {
  background: #dddddd;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: center;

}
.subpcard div {
  width: 255px;
  background-color: #fff;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.subpcard div img {
  width: 280px;
  height: 280px;
  margin: 0;
}
.subpcard div h3 {
  margin: 0px;
  text-align: center;
  background-color: #215d0e;
  color: #ffc100;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #215d0e;
}
.heddings {
  padding-bottom: 10px;
  text-align: center;
  color: #215d0e;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffc100;
  text-underline-offset: 4px;
  font-size: 20px;
  font-weight: 600;
}
.spviewmore {
  text-decoration: underline;
}
.hpmain {
  padding-bottom: 10px;
}
.hpcard {
  background-color: #fff;
}
.spinfo {
  padding: 20px;
  margin-right: 2%;
  color: #215f0ec7;
  text-align: justify;
  font-size: 16px;
}
.pheddings {
  font-size: 20px;
  display: inline-block;
  font-weight: 500;
  color: #215f0e;
}
.hpmain {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.hpcard {
  width: 255px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.hpcard a strong {
  font-size: 17px;
  color: #215d0e;
  padding: 2px 10px;
}
.hpcard a div img {
  max-width: 100%;
  height: 228px;
  margin: 0;
}

.dropdown {
  position: relative;
  display: grid;
}

.dropdown-content {
  display: none;
  border-radius: 0px 0px 10px 10px;
  margin: -5px 5px;
  padding: 1px 15px;
  padding-left: 0;
  background-color: #ffc100;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #215d0e;
  font-weight: 500;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #ffc100;
}
.dropdown-content a p {
  padding: 2px 10px;
  margin: 5px;
}
.dropdown-content a p:hover {
  background: #f7de93;
  padding: 2px 10px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: none;
  margin: 5px;
  background: green;
  font-size: 16px;
  border-radius: 5px;
  color: white;
}
/* ////////////////GALLARY/////////// */
.main {
  display: inline-flex;
  gap: 5px;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 5px;
}
.sub_img img {
  width: 125px;
  height: 125px;
  float: left;
  margin: 4px 4px 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}
.main img {
  border-radius: 10px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main_img {
  width: 407px;
  height: 400px;
  box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset,
    rgb(204 219 232) -3px -3px 6px 0px inset,
    rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
  display: block;
  padding: 16px;
}
.phighlights {
  display: flex;
  justify-content: space-around;
}
.hone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hone img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 50%;
}
.htext {
  text-align: center;
  font-size: 15px;
  color: #215d0e;
}
/* //////////////Magnifire/////////////// */
.fchange {
  margin-left: 20%;
}



/* ////////PULSE ANIMATION/////////// */
.pulse {
  font-size: 17px;
  animation: shadow-pulse 1s infinite;
  background-color: #215d0e;
  padding: 0px 5px;
  border-radius: 10px;
  margin-left: 10px;
  color: #ffc100;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px #ffc100;
  }

  100% {
    box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
  }
}
/* ////////////Tab 1////////// */
@media only screen and (max-width: 1000px) {
  .containerone {
    flex-direction: column;
    align-items: center;
  }
}
/* ///////tab1 end//////// */
/* //////////Tab 2////////// */
@media only screen and (max-width: 750px) {
  .psidebar {
    display: none;
    display: block;
    background: white;
    width: 50%;
    height: 100%;
    z-index: 5;
    margin: 0;
  }
  .inbody {
    margin-left: 0px;
  }
  .fchange {
    margin-left: 0%;
  }
  .footer2 {
    flex-direction: column;
  }
  #sidebarview {
    display: block;
  }
  .psidebar {
    display: none;
  }
  .tabul {
    width: 100%;
  }
}
/* ///////tab2 end//////// */
/* ////////////mobile/////////// */
@media only screen and (max-width: 450px) {
  .containerone {
    flex-wrap: wrap;
  }
  .psidebar {
    display: none;
  }
  .inbody {
    margin-left: 0%;
  }
  .subpcard div {
    margin: 5px;
    width: 150px;
  }
  .subpcard div img {
    height: 150px;
  }
  .subpcard div h3 {
    padding: 5px 10px;
  }
  .hpcard {
    width: 160px;
  }
  .hpcard a div img {
    height: 150px;
  }
  .main {
    display: grid;
  }
  .containerone div img {
    width: 100%;
  }
  .spinfo {
    margin: 1% 2%;
  }
  .pcontent {
    padding: 10px;
  }
  .containerone div img {
    padding: 10px;
    margin: 0px;
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px #ffc100;
    }

    100% {
      box-shadow: 0 0 0 5px rgb(0 0 0 / 0%);
    }
  }
}
