body {
  background-color: #fff;
  color: #215d0e;
  transition: background-color 0.5s ease;
}
body.dark-mode {
  background-color: black; /* dark mode background color */
  color: #e0e0e0;
}
.dmode {
  background: #ffc100;
  padding: 1px 5px;
  border-radius: 50%;
}
.dpcard {
  background: darkslategray;
}
.hpgrid {
  display: flex;
}
.hbody {
  margin-left: 18.25%;
}
.sidebar {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  display: flex;
  min-width: 18%;
  flex-direction: column;
  gap: 5px;
  height: -webkit-fill-available;
  position: fixed;
}
.shead {
  display: flex;
  border-bottom: 2px solid;
  gap: 5px;
  font-size: 20px;
  margin: 5px 5px 5px 10px;
  padding: 2px 5px;
  font-weight: 500;
  text-align: center;
  align-items: center;
}
.shead:hover {
  background-color: lightgreen;
}
.shead .fa-cart-arrow-down {
  background: #ffc100;
  color: #215d0e;
  padding: 5px;
  border-radius: 50%;
}
.shead .fa-sort-asc {
  rotate: 90deg;
}
.sidebar hr {
  border-top: 2px solid #215d0e;
  margin: 0px 10px;
}
.sidebar p {
  margin: 0px 7%;
  padding: 2px;
  font-size: 15px;
  font-weight: 500;
}
.sidebar p:hover {
  background: #ffc100;
  border-radius: 0px 10px 10px 10px;
  padding-left: 5px;
}
.sidebar button {
  position: absolute;
  bottom: 0;
}
#myDIV {
  display: none;
}
#side_bar {
  display: block;
}
.heddings {
  text-align: center;
  color: #215d0e;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffc100;
  text-underline-offset: 4px;
}
.subpcard {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.subpcard .spcard {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.subpcard div img {
  width: 255px;
  height: 255px;
}
.spindiv {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.spindiv strong {
  font-size: 17px;
  color: green;
}
.spindiv p {
  font-style: italic;
}
.spindivtwo {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.spdiscout {
  background-color: #7420fb;
  padding: 2px 10px;
  border-radius: 25px;
  color: white;
  display: inherit;
  position: absolute;
}
.dropdown-content {
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* ?????banner?????? */
.hhighlight {
  background: #e1ffe9;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  margin-top: -17px;
}
.hhighlight div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hhighlight img {
  width: 125px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 50%;
}
.hhighlight strong {
  text-align: center;
  font-size: 15px;
  color: #215d0e;
}
.infomain {
  display: grid;
  grid-template-columns: 50% 50%;
}
.infocontainerone img {
  width: 40%;
  margin: 0px 10px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.spinfo {
  text-align: justify;
  font-size: 16px;
}
.webinfomain {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin: 5%;
}

.wcontainerone {
  background: linear-gradient(145deg, #007e0a 0%, #c4b700 100%);
  border-radius: 5px;
  transition: box-shadow 0.7s ease;
  clip-path: polygon(
    0 16%,
    0 10%,
    0 13%,
    86% 0,
    100% 0,
    100% 19%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  padding-top: 8%;
}
.wcontainertwo {
  background: linear-gradient(145deg, #007e0a 0%, #c4b700 100%);
  border-radius: 5px;
  transition: box-shadow 0.7s ease;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    15% 0,
    87% 9%,
    100% 11%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  padding-top: 8%;
}
.wonecard img {
  width: 150px;
}
.winfo strong {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding: 5px 15px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 17px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #161a91, #7420fb);
  border: 0 solid;
  overflow: hidden;
  display: initial;
  margin: 7px 0px;
}
.winfo {
  padding-top: 11%;
}
.winfo p {
  margin: 5%;
  text-align: justify;
  color: white;
}
.none {
  width: 150px;
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 50%;
  left: 52%;
  top: 160%;
  position: absolute;
  z-index: 1;
}
.wonecard {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  left: 53.5%;
  top: 160%;
}
/* ////////probinfo/////////////////// */
.probimg {
  display: flex;
  gap: 10px;
}
.probimg div {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.probimg img {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.probbox strong {
  color: #215d0e;
}
table {
  background-color: white;
  width: 100%;
}
tr {
  text-align: left;
}
th {
  color: #215d0e;
  font-size: 15px;
}
tr {
  color: #215f0ec7;
  font-size: 14px;
}
table,
th,
td {
  border: 1px solid black;
}
.nice {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding: 10px 15px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 17px) 100%,
    15px 100%,
    0 100%
  );
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #161a91, #7420fb);
  border: 0 solid;
  overflow: hidden;
  display: inline-block;
  margin: 7px 0px;
}
.solmain {
  background-color: #faffcd;
  padding: 10px 5%;
}
.probmain {
  background-color: #a1ffa9;
  padding: 10px 5%;
}
.soltwo {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.pcall {
  align-items: center;
  display: inline-flex;
  padding: 2px 10px;
  border-radius: 0px 10px 10px 0px;
  background: crimson;
}
.pcall div img {
  width: 50px;
}
.pcall div span {
  color: white;
}
/* ////////////weather////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
::selection {
  color: #fff;
  background: #43affc;
}
.wrapper {
  left: 20%;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  z-index: 5;
  position: fixed;
}
.wrapper header {
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #215d0e;
  padding: 10px 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
header i {
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper.active header i {
  margin-left: 5px;
  font-size: 20px;
}
/* .wrapper .input-part {
  margin: 20px 25px 30px;
} */
.wrapper.active .input-part {
  display: none;
}
.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error {
  color: #721c24;
  display: block;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending {
  color: #0c5460;
  display: block;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input {
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}
.input-part input::placeholder {
  color: #bfbfbf;
}
.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before {
  content: 'or';
  color: #b3b3b3;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}
.input-part button {
  color: #fff;
  cursor: pointer;
  background: #215d0e;
  transition: 0.3s ease;
}
.input-part button:hover {
  background: #215d0e;
}

.closebtn .fa-close {
  background-color: rgb(179, 0, 0);
  padding: 2px 4px;
  border-radius: 50%;
}
.wrapper .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}
.weather-part .temp {
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb {
  font-weight: 600;
}
.weather-part .temp .deg {
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.weatherbtn {
  background-color: #0099cc;
  padding: 8px;
  display: inline-block;
  width: 100%;
  color: #ffff;
}
.wdisp {
  display: none;
}
.location i {
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.column i {
  color: #5dbbff;
  font-size: 40px;
}
.column.humidity {
  border-left: 1px solid #ccc;
}
.column .details {
  margin-left: 3px;
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p {
  font-size: 14px;
  margin-top: -6px;
}
.humidity i {
  font-size: 37px;
}
/* ////////////////.weatherend//////////// */
/*Magic card*/
.cardo {
  background: linear-gradient(145deg, #007e0a 0%, #c4b700 100%);
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card-info {
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 10px 1rem;
}

.card-img {
  --size: 115px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.card-img::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
}

/*Text*/
.text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #42caff;
  letter-spacing: 0.05rem;
}

.text-body {
  font-size: 15px;
  color: #ffffff;
  text-align: justify;
}

/*Hover*/
.card:hover .card-img {
  --size: 110px;
  width: var(--size);
  height: var(--size);
}
/* ///////////brands/////////// */
:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

* {
  box-sizing: border-box;
}
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrappero {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
  margin: 20px 5%;
}

.wrappero--vertical {
  flex-direction: row;
  height: 100vh;
}

/* Toggle direction button */
.toggle {
  --size: 3rem;
  position: relative;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: var(--size);
  height: var(--size);
  font: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  background-color: var(--color-bg-accent);
  z-index: 1;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--color-text);
}

.toggle span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: calc(100% + 0.4em);
  width: fit-content;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: fade 400ms 4s ease-out forwards;
  user-select: none;
}

.toggle svg {
  --size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
  transform: translate(-50%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.toggle--vertical svg {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
article img {
  width: 150px;
  background-color: lightblue;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}
/* //////////Download btn/////////// */
#wrapo {
  background-color: #ffc100;
  margin: 5px;
  padding: 37px;
  margin: 20px auto;
  text-align: center;
}

.btn-slide,
.btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: #fdfdfd;
  border: 2px solid #0099cc;
  margin: 10px;
  transition: 0.5s;
}

.btn-slide2 {
  border: 2px solid #215d0e;
}

.btn-slide2:hover {
  background-color: #215d0e;
}

.btn-slide:hover span.circle,
.btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: #215d0e;
}

.btn-slide:hover span.title,
.btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover,
.btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle,
.btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  color: #fff;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  margin: 3px 0px 0px 3px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: #215d0e;
}

.btn-slide span.title,
.btn-slide span.title-hover,
.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: 0.5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #215d0e;
  left: 80px;
}

.btn-slide span.title-hover,
.btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover,
.btn-slide2 span.title-hover2 {
  color: #fff;
}
/* //////////Download end///////// */
/* ////////PULSE ANIMATION/////////// */
.pulse {
  font-size: 17px;
  animation: shadow-pulse 1s infinite;
  background-color: #215d0e;
  padding: 0px 5px;
  border-radius: 10px;
  margin-left: 10px;
  color: #ffc100;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px #ffc100;
  }

  100% {
    box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
  }
}
#sidebarview {
  display: none;
}
/* /////////end//////////// */
/* //////////product carsole////////// */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
/* ////////////Tab/////////// */
@media only screen and (max-width: 450px) {
  .sidebar {
    position: absolute;
    z-index: 2;
    background: white;
  }
  .hbody {
    margin-left: 0%;
  }
  #side_bar {
    display: none;
  }
  .infomain {
    grid-template-columns: auto;
  }
  .spinfo {
    margin-left: 6%;
  }
  .cardo {
    margin-top: 5%;
  }
  .sidebar {
    display: block;
    width: 50%;
    margin: 0;
  }
  .hpcard a div img {
    height: 165px;
  }
  .hpcard {
    width: 47%;
  }
  .hpmain {
    height: 488px;
    overflow: scroll;
  }
  .subpcard div img {
    width: 150px;
    height: 165px;
  }
  #sidebarview {
    display: block;
  }
  .hhighlight {
    gap: 2px;
  }
  .subpcard .spcard {
    width: 45%;
    margin: 5px;
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px #ffc100;
    }

    100% {
      box-shadow: 0 0 0 5px rgb(0 0 0 / 0%);
    }
  }
  .subpcard {
    gap: 0px;
  }
  .spindiv {
    display: grid;
  }
  .spindivtwo p {
    display: none;
  }
  .card-info {
    overflow: scroll;
    height: 420px;
  }
  .dmode {
    border-radius: 10px;
  }
}
/* ////////////End Tab///////////// */
/* ////////////Mobile//////////// */
@media only screen and (max-width: 750px) {
  .hhighlight {
    gap: 0px;
  }
  #side_bar {
    display: none;
    position: fixed;
  }
  #sidebarview {
    display: block;
  }
  .hbody {
    margin-left: 0;
  }
  .webinfomain {
    grid-template-columns: auto;
  }
  .cardo {
    margin-top: 5%;
  }
  .sidebar {
    width: 50%;
    background: white;
    z-index: 5;
  }
}
/* ////////////End Mobile///////////// */
