body {
  font-family: acumin-pro, system-ui, sans-serif;
}
.gallery {
  overflow: hidden;
  display: flex;
}

.list-img {
  overflow-y: auto;
  padding-left: 10px;
}
.list-img img {
  width: 145px;
  height: 85px;
  cursor: pointer;
  border-radius: 10px;
}
.main-img img {
  width: 100%;
  height: 545px;
}
.main-img iframe {
  width: 100%;
  height: 500px;
}
.col-main {
  position: relative;
  width: 100%;
}

img.item-list {
  opacity: 1;
}
.item-list.active {
  opacity: 1;
}
.nutslide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

span.next {
  right: 15px;
  position: absolute;
  font-size: 28px;
  color: #fff;
  width: 35px;
  height: 36px;
  background: #373737;
  padding-left: 8px;
  padding-right: 10px;
  border-radius: 4px;
  padding-top: 1px;
  cursor: pointer;
}

span.prev {
  left: 15px;
  position: absolute;
  font-size: 28px;
  color: #fff;
  width: 35px;
  height: 36px;
  background: #373737;
  padding-left: 8px;
  padding-right: 10px;
  border-radius: 4px;
  padding-top: 1px;
  cursor: pointer;
}
.main {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.video-content {
  position: relative;
  display: flex;
  padding-bottom: 20px;
  cursor: pointer;
}
.video-content img {
  position: absolute;
}
.video-content iframe {
  width: 145px;
  border-radius: 10px;
  height: 85px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d20000;
  border-radius: 10px;
}
.box-text {
  margin-left: 10px;
}
.box-text h3 {
  margin: 2px 0px;
  color: #215d0e;
}
.box-text p {
  text-align: justify;
  margin: 2px 0px;
  color: #215f0ec7;
}
@media only screen and (max-width: 450px) {
  .gallery {
    display: grid;
    gap: 10px;
  }
  .navc2 {
    position: absolute;
    background: white;
    display: grid;
    right: 0;
    top: 100%;
    padding: 16px 16%;
    border-radius: 0px 0px 0px 10px;
  }
}
@media only screen and (max-width: 750px) {
  .video-content {
    flex-direction: column;
  }
  .box-text {
    margin: 0px 10px;
  }
}