.sec{
  padding-top:20px;
}
.div-one{
  	background: #215d0e;
    width: fit-content;
    margin: auto;
    color: #ffc100;
    padding: 5px 35px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 18px;
    border: 2px solid #ffc100;
	box-shadow: 2px 3px 5px black;
}
.heading{
  	text-align:center;
  	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  	text-shadow: 2px 2px 2px black;
}
.div-two{
  	display: flex;
  	justify-content:space-between;
  	align-items:center;
 	border-radius: 0px 50px;
  	width: 80%;
  	margin: auto;
	background-color: #d0ffd0;
    box-shadow: 2px 3px 5px black;
	gap: 20px;
    padding: 10px 30px;
}
.div-two-1{
  	width: 100%;
    margin: auto;
}
.div-two-img{
 	height: auto;
    width: 100%;
	margin:auto;
}
.section-two{
  width:80%;
  margin:auto;
}
.section-two-div1{
  display:flex;
  align-items:center !important; 
  flex-direction: column;
  justify-content: center !important;
}
.section-two-div1-heading{
  	text-align: center !important;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: ghostwhite;
    font-weight: bold;
    text-transform: initial;
    margin-bottom: 2px;
    background-image: linear-gradient(to left, rgb(1, 46, 1), green, rgb(1, 46, 1));
    border-radius: 10px 0;
    padding: 0 60px;
    text-shadow: 3px 2px 2px black;
    border-bottom: 3px solid goldenrod;
    box-shadow: 1px 1px 5px gray;
}
.section-two-div1-underline{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
  font-weight:bolder;
  height:3px;
  background-color: #ffc100;
  border:none;
}
.section-two-div2{
  gap:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}
.section-two-div2-container{
  display: flex;
  position: relative;
  padding: 0px 22px;
  background-color: #eaf7e6;
  width: 50%;
  border-radius:20px;
  height:150px;
  justify-content: space-evenly;
  flex:1;
  border:2px solid #215d0e;
}
.section-two-div2-img{
  width:100px;
  height:100px;
  margin-top:5px;
  margin-left:2px;
  margin-right:15px;
  padding-top:22px;
}
.vision-mission-div{
  display:flex;
  gap:15px;
}
.vision-container{
  flex-basis:50%;
}
.vision-div{
  	background-image: linear-gradient(180deg, green, darkgreen);
  	color:#ffc100;
  	text-align: center;
  	font-size:18px;
  	display:flex;
  	align-items:center;
  	justify-content: space-around;
  	border-radius: 5px;
	position:relative;
	padding: 2px 0;
}
.vision-div::after{
	content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #215d0e;
}
.vision-desc li{
  list-style-type: disc;
  list-style-position: outside;
}
.vision-div h4{
  	display:flex;
  	justify-content: center;
  	gap:30px;
  	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.vision-desc{
	text-align:justify;
	font-size:15px !important;
	line-height: 30px !important;
	color:darkgreen;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin:auto;
	width:90%;
	margin-top: 10px;
}
.mission-container{
  flex-basis:50%;
}
.objective-diff-div{
  display:flex;
  gap:15px;
}
.objective-container{
 	flex-basis:50%;
}
.differentiator-container{
	flex-basis:50%;
}
.section-two-div3{
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 1fr;
}
.section-two-div6{
  gap:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-two-desc-div4{
  flex-basis: 40%;
}
.section-two-desc-div{
  padding:10px;
  flex-basis:70%;
}
.section-two-div3-img{
  	width:100%;
  	border-radius:55px;
  	margin: auto;
	box-shadow: 1px 1px 5px black;
}
.section-two-div2-desc-container{
  white-space: wrap;
}
.download-btn{
  	margin: auto;
    background-color: #215d0e;
    padding: 5px 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
    color: white;
    justify-content: center;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 1px black;
}
.stakeholder{
	display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
}
.stakeholder li{
	list-style-type:none;
	text-align:center;
}
.stakeholder li img{
	border-radius:50%;
	width:90px;
	height:90px;
	box-shadow: 0 2px 5px black;
	margin: auto;
}
.stakeholder1{
	display: grid; 
	grid-template-columns: 1fr 1fr;
}
.stakeholder1 li{
	list-style-type:none;
	text-align:center;
}
.stakeholder1 li img{
	border-radius:50%;
	width:90px;
	height:90px;
	box-shadow: 0 2px 5px black;
	margin: auto;
}
.sh-box{
	border-radius:20px;
	margin:auto;
	box-shadow:0 2px 5px black;
	list-style-type: none;
	text-align:center;
}
.sh-box ul{
	padding: 1em 2em;
}
.stakeholder li p, .stakeholder1 li p{
	margin:0;
}
.sh-box h4{
	text-shadow: 0.3px 0.3px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.download-btn i {
  color:white;
  font-size: 18px;
}
.section-two-div2-img3{
	width: 100%;
    height: auto;
}
.section-two-div4{
    text-align: justify;
    border-radius: 20px;
    color: darkgreen;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    color: darkgreen;
    line-height: 30px;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section-two-div2-container2{
  width: 100%;
  box-shadow:0 2px 8px gray;
  border-radius:10px;
  padding: 0 50px;
}
.section-two-div2-container2 h5{
	text-align: center;
    color: darkblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-image: linear-gradient(45deg,rgb(172, 243, 172),rgb(9, 150, 9));
    margin: 20px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.section-two-div2-desc2{
    text-align: justify; 
    margin:auto;
    font-size:15px !important;
    line-height: 17px;
    color:darkgreen;
    font-family:'Times New Roman', Times, serif;
}
.section-two-div2-desc2 h3{
	font-size: 15px;
    text-align: center;
    color: rgb(5, 5, 122);
    font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color:#ffc100;
	border-radius:5px;
	padding:3px 0;
}
.section-two-div2-desc2 li{
  list-style-type: disc !important;
}
.service-img-container{
  width:150px;
  height:150px;
  border-radius:150px;
  box-shadow:0 0 8px 10px rgba(207, 214, 207, 0.726);
  margin: auto;
}
.section-two-div5{
  display: grid;
  gap: 20px;
  text-align:justify;
  color:darkgreen;
  line-height:30px;
  padding:30px 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  grid-template-columns: 1fr 1fr;
}
.mob_wrap{
  padding: 5px 5px;
}
.mob_wrap1{
  display:flex;
  gap: 10px !important;
}
.mob_wrap2 { flex-basis: 50%;}
.mob_wrap2 img{
  	width: 80%;
    height: 83%;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
}
.mob_wrap3 { flex-basis: 50%; margin-right: 30px;}
.mob_wrap_desc strong{
  	text-transform:uppercase;
    font-weight: bold;
	font-size: 15px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:rgb(3, 3, 65);
}
.feature-div{
	background-color: #ffc100;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    box-shadow: 1px 1px 5px black;
	animation: zig 2s ease-in-out infinite;
}
@keyframes zig{
	0% { box-shadow: 0 0 0 0 darkgreen}
	100% { box-shadow: 0 0 0 5px rgb(0 0 0 / 0%);}
}
.mob_wrap_desc ul li{
  list-style-type: disc;
}
.download-btn2{
  margin: auto;
  background-color: #215d0e;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #ffc100;
  justify-content: center;
  font-weight: bold;
  border: 2px solid #cf9e08;
  text-decoration:none !important;
  gap:10px;
}
.download-btn2 a {
  color:#ffc100;
  display:flex;
  text-decoration:none;
}
.download-btn4{
  	background-color: #215d0e;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    line-height: 20px;
    box-shadow: 1px 1px 5px black;
}
.download-btn4 i {
  	font-size: x-large;
	text-shadow: 2px 2px 2px black;
}
.download-btn4 a{
	text-decoration:none;
}
.small-text{
  font-size:smaller;
  text-align: justify;
  color: white;
}
.larger-text{
  	font-size: 18px;
    color: #ffc100;
	text-shadow: 2px 2px 2px black;
	animation: fade 5s ease-in infinite;
}
@keyframes fade {
	0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0.4;}
}
.wrap{
  display:flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  border-radius: 10px;
}
.wrap1{
  flex: 0 0 50%; 
  height:auto; 
  margin-top:30px;
}
.container1{
  width:450px;
  margin-left:45px;
  border:5px solid goldenrod;
}
.services_main img {
	border-radius: 50%;
	padding: 5px;
	position: relative;
	background: #fff;
	box-shadow: 1px 1px 5px black;
}
.wrap1 li{
  list-style-type:none;
}
.wrap2 h5{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: rgb(4, 4, 102);
    font-weight: bold;
    box-shadow: 0 2px 5px gray;
    border-radius: 10px;
    text-align: center;
    background-color: #ffc100;
    padding: 5px;
}
.wrap2 ul{
	font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrap2 ul li{
	list-style-type:disc;
	list-style-position: outside;
	width: 80%;
    margin: auto;
}
.credentials ul{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:50px;
  color:rgb(3, 3, 80);
}
.credentials li{
  margin-right:25px;
}
.credentials li:last-child{
  margin-right:0;
}
.cred_images{
  display:grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  gap: 70px;
}
.photos{
  width: 180px;
  height: 230px;
  object-fit: cover;
  border:3px solid rgb(12, 82, 12);
  border-radius:5px;
  margin-left:100px;
}
.topic_div
{
text-align:center;
margin-left:30px;
background-color: #ffc100;
height:30px;
border-radius: 10px;

}
.topic_div h3{
color:#215d0e;
font-size:18px;
font-family: 'Ysabeau SC', sans-serif;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-title {
  margin-top: 10px;
  text-align: center;
  margin-left:100px;
  background-color:#215d0e;
  padding:5px 2px ;
  margin-top:0;
  color:white;
  white-space:wrap;
  width:150px;
  text-transform: uppercase;
  font-size:10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  cursor: zoom-out;
}
.full-image-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  cursor: zoom-out;
  overflow-y: auto; 
  overflow-x: auto;
  max-width: 100%;
  max-height: 100%;
}
.full-image {
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}
.video_main {
  display: flex;
  gap: 20px;
  border-radius: 10px;
}
.video_main video {
  width: 100% !important;
  border-radius: 10px;
}
.vjs-tech{
  height:250px;
}
.wrappero {
  width: 100%;
  overflow: hidden;
} 
.marquee-container {
  width: 100%; 
  overflow: hidden;
  position: relative; 
  white-space: nowrap; 
  height: 100%;
} 
.marquee {
  display: inline-flex;
  animation: marquee 20s linear infinite;
  overflow-x: auto;
} 
.marquee_div {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
}
.marquee img {
  flex-shrink: 0;
  object-fit:fill;
  max-width:500px;
  border:2px solid transparent;
  height: 150px;
  border: 8px solid rgb(168, 163, 163);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow:5px 5px 5px rgb(168, 163, 163);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-100% - 20px));
  }
}
.footer {
  border-top-left-radius: 50px;
  padding: 15px 15px 10px 15px;
  background-color: darkgreen;
  color: white;
  border-top: 1px solid #e5e5e5;
  margin-left: 0;
  background-image: linear-gradient(180deg, seagreen, transparent);
}
.footer div h1 {
  color: #ffc100;
  font-size: 20px;
  font-weight: 500;
}
.place_div a{
	text-decoration: none;
    line-height: 25px;
}
.footer_info-div h3{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}
.footer1 {
  display: flex;
  justify-content: space-between;
}
.footer1 h1{
	font-family: 'Times New Roman', Times, serif;
}
.footer address {
  font-style: normal;
  color: white;
}
.footer-div{
	display:flex;
	align-items:center;
}
.place_div{
  display:flex;
  margin: auto;
  gap:10px;
}
.place_div address{
font-family: 'Times New Roman', Times, serif;
}
.place_div a address:hover{
  color:#ffc100!important;
}
.place_div a:hover{
  text-decoration:none !important;
}
.phone_div{
  display:flex;
  margin-top:20px;
  gap:10px;
}
.phone_div div{
  width:200px;
}
.phone_div div a{
  font-size:15px;
  text-align:justify;
  color:white;
  margin-right:50px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
.phone_div div a:nth-child(3){
  margin-right:100px;
}
.phone_div div a:hover{
  color:#ffc100;
  text-decoration: none !important;
}
.mail_div{
  display:flex;
  margin-top:20px;
  gap:10px;
}
.mail_div div{
	width: 200px;
}
.mail_div div a{
  font-size:15px;
  text-align:justify;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
.mail_div div a:hover{
  color:#ffc100;
  text-decoration: none !important;
}
.loc_div h3{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
	padding-top: 15px;
	padding-bottom: 10px;
}
.loc{
  height:280px;
  border-radius:20px;
  border:2px solid goldenrod;
  width:100%;
}
.material-icons{
  font-size:x-large;
}
.text_font{
  font-size:15px;
  text-align:justify;
}
.services_content ul li{
  color: white;
  margin-bottom:25px;
  font-size: 15px;
}
.footer_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	gap:30px;
}
.services_content{
  display: grid;
  grid-template-columns: 12rem 12rem 12rem;
}
.services_heading{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}
.list{
  color:white;
  font-size:15px !important;
  font-family: 'Times New Roman', Times, serif;
	text-decoration:none;
} 
.list:hover{
  color:#ffc100;
  text-decoration: none !important;
}
.link{
  font-size:small !important;
  color:#ffc100;
  white-space: wrap !important;
  font-family: 'Times New Roman', Times, serif;
	text-decoration:none;
} 
.ext-linkss a{
  padding-left:2em;
  font-size:11px;
  color:white;
}
#backlinkss{
  overflow-x:auto;
  width:200px;
  margin-left:10px;
}
.link-topic{
  background-color:#215d0e;
  color:#ffc100;
  padding:0.1rem 2rem;
  font-size:0.5rem !important;
}
.div-two-desc{
  		white-space: wrap !important;
  		text-align:justify !important;
  		line-height:30px !important;
  		font-size:15px !important;
  		color:darkgreen !important;
  		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
@media (min-width: 771px) and (max-width: 1366px){
	.mob_wrap3 img {
    	width: 100%;
    	height: auto;
	}
	.agri-img{
  		position: absolute;
    	top: 52%;
    	left: 46%;
    	transform: translate(-50%, -50%);
    	z-index: 2;
    	width: 29%;
    	height: 7%;
    	border-radius: 50px;
    	background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.agri-img:hover{
  		width:29.3%;
  		height:7.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.kab-img{
  		position:absolute;
  		top: 33%;
    	left: 23%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.kab-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.agritech-img{
  		position:absolute;
  		top:41%;
  		left:65%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.agritech-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.foods-img{
  		position:absolute;
  		top: 89%;
    	left: 50%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white; 
    	box-shadow: 1px 1px 5px black;
	}
	.foods-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.pt-img{
  		position:absolute;
  		top: 14%;
    	left: 61%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.pt-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.dsh-img{
  		position:absolute;
  		top: 24%;
    	left: 73%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.dsh-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.smartfarmer-img{
  		position:absolute;
  		top: 38%;
    	left: 80%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.smartfarmer-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.fn-img{
  		position:absolute;
  		top: 55%;
    	left: 81%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.fn-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.veg-img{
  		position:absolute;
  		top: 81%;
    	left: 67%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white; 
    	box-shadow: 1px 1px 5px black;
	}
	.veg-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.uab-img{
  		position:absolute;
  		top: 80%;
    	left: 33%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.uab-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.f4f-img{
  		position:absolute;
  		top:16%;
  		left:35%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 13%;
  		height: 15%;
  		background-color: white; 
  		border-radius:65%;
    	box-shadow: 1px 1px 5px black;
	}
	.f4f-img:hover{
  		width:15%;
  		height:17%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.fbi-img{
  		position:absolute;
  		top:52%;
  		left:16%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 6%;
  		height:15%;
  		border-radius:5px;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.fbi-img:hover{
  		width:8%;
  		height:16%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.wrap2{
  		flex: 0 0 50%; 
  		text-align:justify;
  		font-size:15px;
  		color:darkgreen;
    	margin-top:10px;
	}
	.wrap2 p{
  		line-height: 23px;
  		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
	}
	.wrap3{
  		text-align:justify;
  		font-size:15px;
  		color:darkgreen;
	}
	.wrap3 p{
  		line-height: 23px;
  		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
	}
	.video_main p {
  		font-size: 16px;
  		text-align: justify;
  		line-height: 32px;
  		color:darkgreen;
  		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    	margin: auto;
	}
	.mob_wrap_desc ul{
  		text-align:justify;
  		white-space:wrap; 
    	font-size: 15px;
    	line-height: 33px;
	}
	
  .section-two-div2-desc-container{
    margin: auto;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    line-height: 30px;
  }
  .section-two-div2-desc3{
    	text-align: justify; 
    	list-style-position: outside;
    list-style-type:disc;
    color:darkgreen;
    padding:0 10px!important;
    font-size:15px;
    line-height: 33px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .section-two-div2-desc{
  		text-align: justify; 
  		list-style-position: outside;
  		list-style-type:none;
  		color:darkgreen;
  		padding:0 10px!important;
  		font-size:15px;
  		line-height: 33px;
  		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
	
}
@media (min-width:1367px){
	.mob_wrap3 img {
    	padding-top: 10px;
    	width: 210px;
	}
	.agri-img{
  		position: absolute;
    	top: 52%;
    	left: 32%;
    	transform: translate(-50%, -50%);
    	z-index: 2;
    	width: 22%;
    	height: 9%;
    	border-radius: 50px;
    	background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.agri-img:hover{
  		width:22.3%;
  		height:9.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.kab-img{
  		position:absolute;
  		top: 31%;
    	left: 17%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.kab-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.agritech-img{
  		position:absolute;
  		top: 41%;
    	left: 46%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.agritech-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.foods-img{
  		position:absolute;
  		top: 87%;
    	left: 35%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;  
    	box-shadow: 1px 1px 5px black;
	}
	.foods-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.pt-img{
  		position:absolute;
  		top: 13%;
    	left: 43%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.pt-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.dsh-img{
  		position:absolute;
  		top: 24%;
    	left: 51%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.dsh-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.smartfarmer-img{
  		position:absolute;
  		left: 56.2%;
    	top: 38.3%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.smartfarmer-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.fn-img{
  		position:absolute;
  		top: 55%;
    	left: 57%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.fn-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.veg-img{
  		position:absolute;
  		top: 82%;
    	left: 46%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white; 
    	box-shadow: 1px 1px 5px black;
	}
	.veg-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.uab-img{
  		position:absolute;
  		top: 81%;
    	left: 23%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.uab-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.f4f-img{
  		position:absolute;
  		top: 17%;
    	left: 24%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 10%;
  		height: 16%;
  		background-color: white; 
  		border-radius:65%;
    	box-shadow: 1px 1px 5px black;
	}
	.f4f-img:hover{
  		width:10.3%;
  		height:16.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.fbi-img{
  		position:absolute;
  		top: 51%;
  		left:12%;
  		transform: translate(-50%, -50%);
  		z-index:2;
  		width: 6%;
  		height:19%;
  		border-radius:5px;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
	}
	.fbi-img:hover{
  		width:6.3%;
  		height:19.3%;
  		box-shadow:5px 5px 5px 5px rgba(0, 80, 0, 0.5);
	}
	.wrap2{
  		flex: 0 0 50%; 
  		text-align:justify;
  		font-size:20px;
  		color:darkgreen;
    	margin-top:10px;
	}
	.wrap2 p{
  		line-height: 33px;
  		font-family: 'Times New Roman', Times, serif !important;
    	margin-bottom: -8px;
	}
	.wrap3{
  		text-align:justify;
  		font-size:20px;
  		color:darkgreen;
	}
	.wrap3 p{
  		line-height: 33px;
  		font-family: 'Times New Roman', Times, serif !important;
    	margin-bottom: -8px;
	}
	.video_main p {
  		font-size: 20px;
  		text-align: justify;
  		line-height: 42px;
  		color:darkgreen;
  		font-family: 'Times New Roman', Times, serif;
	}
	.mob_wrap_desc ul{
  		text-align:justify;
  		white-space:wrap; 
    	font-size: 20px;
    	line-height: 40px;
	}
	.section-two-div4{
  		display: flex;
  		gap: 10px;
  		text-align:justify;
  		border-radius:0px 30px;
  		color:darkgreen;
 	 	line-height:40px;
  		padding:30px 20px;
  		font-family: 'Times New Roman', Times, serif;
    	font-size:20px;
	}
	.section-two-div2-desc2{
  		text-align: justify; 
  		list-style-position: outside;
  		margin-top:20px;
  		font-size:20px !important;
  		line-height: 28px;
  		color:darkgreen;
  		text-align-last:justify;
  		font-family:'Times New Roman', Times, serif;
	}
	.section-two-div2-desc{
  		text-align: justify; 
  		list-style-position: outside;
  		list-style-type:none;
  		color:darkgreen;
  		padding:0 10px!important;
  		font-size:20px;
  		line-height: 43px;
  		font-family:'Times New Roman', Times, serif;
	}
	.vision-desc{
  		text-align:justify;
  		font-size:20px !important;
  		white-space:wrap;
  		word-wrap: break-word;
  		margin-left:45px;
  		line-height: 40px !important;
  		color:darkgreen;
  		font-family:'Times New Roman', Times, serif;
	}
	.div-two-desc{
  		white-space: wrap;
  		margin-right:60px;
  		text-align:justify;
  		line-height:40px;
  		font-size:20px;
  		color:darkgreen;
  		font-family: 'Times New Roman', Times, serif;
	}
}
 @media (max-width: 770px){
    .div-one{
        line-height: 25px;
    }
    .div-two{
        flex-direction: column;
    	width: 95%;
    	border-radius: 10px;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
    	margin-bottom: 0.5rem;
    }
    .div-two-desc{
    	color: green;
    	font-family: 'Times New Roman', Times, serif;
    	line-height: 35px;
    	text-align:justify;
    }
    .div-two-img{
        width: 70%;
    }
 	.section-two-div1-heading{
    	padding:0 40px;
    	margin-bottom: 0.5rem 
 	}
    .vision-mission-div{
        flex-direction: column;
        width:100%;
    }
    .objective-diff-div{
        flex-direction: column;
        width:100%;
    }
    .vision-div{
    	overflow-x: visible;
    }
    .vision-desc{
        width: 90%;
    	margin: auto;
    	text-align: justify;
    	font-size: 15px;
    	font-family: times new roman;
    	color: green;
    	line-height: 30px;
    }
  	.vision-desc li{
    	list-style-position: inside;
    }
 	.section-two-div2-desc{
    	text-align: justify;
 	}
    .section-two-div3{
        display:block;
    }
    .section-two-div3-img{
        border-radius: 30px;
    	margin:0.5em auto;
    	width: 95%;
    }
 	.mob_wrap2 img{
    	width:100%;
    	height:auto;
    	margin-bottom:0.5rem;
    	margin:auto;
    	border-radius: 30px;
 	}
 	.feature-div{
    	margin-top: 1rem;
    	margin-left: 0.5rem;
 	}
  	.download-btn{
    	margin: auto;
   	 	width: 180px;
    	padding: 5px;
    }
 	.section-two-div6{
    	display:block;
 	}
 	.section-two-div2{
    	display: block;
 	}
  	.section-two-div2-desc-container{
    	margin: auto;
    	font-size: 15px;
    	font-family: times new roman;
    	color: green;
    	line-height: 30px;
    	white-space: wrap;
        word-break: break-all;
  	}
 	.wrap2 ul li{
    	list-style-position: inside;	
 	}
    .service-img-container{
    	overflow-y: hidden;
    	margin:auto;
    }
  	.section-two-div2-container2{
    	display: block;
        width: 98%;
        margin: 0.5em auto;
    	padding: 0 1.5em;
  	}
  	.section-two-div2-desc2{
    	padding:2px 0;
    	height:auto;
    	line-height:23px;
    	text-align: justify;
  		font-size: 15px;
    	font-family: times new roman;
    	color: green;
  	}
  	.section-two-div2-desc2 li{
    	list-style-position:inside;
    	width:100%;
  	}
    .section-two-div4{
        width:100%;
       	font-size:15px;
    	font-family:times new roman;
    	color:green;
    	line-height: 30px;
    	padding:0;
    }
  	.download-btn1{
    	margin-top:-4rem;
  	}
 	.section-two-div5{
    	display:block;
    	padding:0;
 	}
    .mob_wrap1{
        flex-direction: column;
        width:100%;
    }
    .download-btn2{
      margin-top: 0; 
      padding-top:0;
    }
    .mob_wrap_desc strong{
        margin: auto;
    }
  	.mob_wrap_desc ul li{
    	list-style-position: inside;
    	text-align:justify;
  	}
    .mob_wrap2{
        margin: 1rem auto;
    }
    .download-btn4{
        margin:auto;
    }
    .mob_wrap3 img{
       	width: 100%;
    	height: auto;
    	margin: auto;
    }
    .download-btn2{
        margin-top:10px;
        margin-left:30px;
        padding-top:10px;
    }
    .wrap{
        display:block;
  	}
 	.wrap1 ul{
    	overflow-y:hidden;
 	}
    .wrap2{
        width:100%;
    	margin: auto;
    	text-align: justify;
    	color: green;
    	font-size: 15px;
    	font-family: times new roman;
    	line-height: 30px;
    	margin-top:20px;
    }
 	.wrap3{
        width:100%;
    	margin: auto;
    	text-align: justify;
    	color: green;
    	font-size: 15px;
    	font-family: times new roman;
    	line-height: 30px;
    }
    .container1{
        margin:auto;
     	width:100%;
    }
    .agri-img{
        position: absolute;
    	top: 52%;
    	left: 45%;
    	width: 35%;
    	height: 8%;
    	transform: translate(-50%, -50%);
    	z-index: 2;
    	border-radius: 50px;
    	background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .kab-img{
        position: absolute;
    	top: 32%;
    	left: 18%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .agritech-img{
        position: absolute;
    	top: 40%;
    	left: 68%;
    	width: 15%;
   	 	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .foods-img{
        position: absolute;
    	top: 87%;
    	left: 50%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .pt-img{
        position: absolute;
    	top: 15%;
    	left: 63%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .dsh-img{
        position: absolute;
    	top: 25%;
    	left: 76%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .smartfarmer-img{
        position: absolute;
    	top: 38%;
    	left: 85%;
    	width: 15%;
    	height: 14%; 
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .fn-img{
        position: absolute;
    	top: 53%;
    	left: 88%;
    	width: 15%;
    	height: 14%; 
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .veg-img{
        position: absolute;
    	top: 80%;
    	left: 71%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .uab-img{
        position: absolute;
    	top: 80%;
    	left: 29%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .f4f-img{
        position: absolute;
    	top: 18%;
    	left: 32%;
    	width: 15%;
    	height: 14%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:50%;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .fbi-img{
        position: absolute;
    	top: 52%;
    	left: 11%;
    	width: 9%;
    	height: 18%;
    	transform: translate(-50%, -50%);
  		z-index:2;
  		border-radius:5px;
  		background-color: white;
    	box-shadow: 1px 1px 5px black;
    }
    .topic_div{
       margin-left: 0; 
       width:374px;
    }
    .cred_images{
        display:block;
        width:100%;
    }
    .image-wrapper{
        margin-bottom:10px;
    }
    .photos{
        margin-left:50px;
    }
    .image-title{
        margin-left:50px;
        width:180px;
    }
    .video_main{
    	text-align: justify;
    	font-size: 15px;
    	color: green;
    	font-family: times new roman;
    	line-height: 30px;
    	display: block;
    }
    .marquee_container{
        margin-left:30px;
        width:90%;
    }
  	.marquee_div{
      width: 100% !important;
      margin-left: 100px;
      width: 20rem;
      gap: 1rem;
    }
    .wrappero{
      width:100% !important;
      margin-left:20px !important;
      border-radius:10px;
      border:1px solid (rgb(48, 47, 47,0.6));
      overflow: unset;
    }
    .marquee {
      animation: marquee-mobile 10s linear infinite;
      overflow: unset;
      width: 195rem;
    }
    @keyframes marquee-mobile {
      0% {
        transform: translateX(0);
     }
      100% {
        transform: translateX(calc(-100% - 20px));
     }
    }
    .footer{
      margin-left:0;
    }
    .footer_info{
      font-size:larger;
      display:block;
    }
  	.mail_div div{
    	width: 100%;
  	}
    .loc_div iframe{
    	margin: auto;
    }
    .services_content{
      display:block;
    }
    .marquee_container{
      margin-left:30px;
      width:90%;
    }
    .marquee_div{
      width:70% !important;
      margin-left:100px;
    }
    .wrappero{
      width:100% !important;
      margin-left:20px !important;
      border-radius:10px;
      border:1px solid (rgb(48, 47, 47,0.6));
    }
    .place_div a{
    	width:100%;
 	}
 	.services_content ul li{
    	text-align:center;
 	}
}